/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-mint-500: #F5F6FA;
  --font-poppins: Poppins, sans-serif;
};

button{
  cursor:pointer;
}
